*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: LemonMilkLight;
  src: url("./fonts/LEMONMILK-Light.otf") format("opentype");
}
@font-face {
  font-family: LemonMilk;
  src: url("./fonts/LEMONMILK-Regular.otf") format("opentype");
}
@font-face {
  font-family: LemonMilkMedium;
  src: url("./fonts/LEMONMILK-Medium.otf") format("opentype");
}
@font-face {
  font-family: Cocogoose;
  src: url("./fonts/Cocogoose-Pro-Regular-trial.ttf") format("truetype");
}
@font-face {
  font-family: CocogooseLight;
  src: url("./fonts/Cocogoose-Pro-Ultralight-trial.ttf") format("truetype");
}
.purple-btn {
  color: #fff;
  text-decoration: none;
  font-size: 0.925rem;
  background-color: #6254ff;
  padding: 0.777em 3.388em;
  border-radius: 25px;
  display: inline-block;
}

body {
  background-color: #213b41;
  color: #bffff6;
  font-family: CocogooseLight;
  margin: 0;
  padding: 0;
}

header .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.content {
  max-width: 1280px;
  margin-inline: auto;
  padding: 0 0 0 7.5rem;
}
.content .logo-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.content .logo-wrap img.circle {
  position: absolute;
  top: -42.5rem;
  z-index: -1;
  max-width: 1000px;
}
.content .logo-wrap #text-logo {
  max-width: 380px;
}
.content .text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 8rem;
}
.content .text-wrap .innovate-text {
  max-width: 900px;
}
.content .text-wrap h1.big {
  display: none;
  font-family: Cocogoose;
  font-weight: 100;
  font-size: 3.5rem;
  margin: 2rem 0 0;
  text-align: center;
  color: #fff;
}
.content .text-wrap .lower-text-wrap {
  width: 100%;
  text-align: center;
}
.content .text-wrap .lower-text-wrap p.contact-text {
  margin: 34px 0;
  text-align: center;
  color: #fff;
  font-size: 1.425rem;
}

.content-2 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 25rem 0 8.5rem;
  position: relative;
  background-image: url(./assets/line-1.svg);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: bottom;
}
.content-2 .content {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
  width: 100%;
}
.content-2 .content p.description {
  color: #fff;
  font-size: 1.05rem;
  margin: 0;
  line-height: 2.25rem;
  max-width: 640px;
}
.content-2 .content h2 {
  margin: 0;
  line-height: 3.812rem;
  font-size: 3rem;
  font-family: Cocogoose;
  font-weight: 100;
}
.content-2 img.lines-1 {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.responsive {
  display: none;
}

.content-3 {
  margin-top: 4.687rem;
  margin-bottom: 4rem;
}
.content-3 .content {
  display: flex;
}
.content-3 .content .service-text {
  width: 20%;
}
.content-3 .content .service-text h3 {
  margin: 0;
  font-family: LemonMilk;
  letter-spacing: 2.6px;
}
.content-3 .content .service-text h3.main {
  font-family: LemonMilk;
  font-size: 2rem;
}
.content-3 .content .service-text h3.main::after,
.content-3 .content .service-text h3.lower:nth-of-type(3)::before,
.content-3 .content .service-text h3.lower:nth-of-type(3)::after {
  content: "";
  display: block;
  height: 120px;
  width: 1px;
  background-color: #646464;
  position: relative;
  left: 15px;
  margin: 1.5rem 0;
}
.content-3 .content .service-list::before {
  content: "";
  height: 1px;
  background-color: #797979;
  position: absolute;
  top: 1.387rem;
  width: 95%;
}
.content-3 .content .service-list {
  position: relative;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 1.5rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  padding-top: 9.25rem;
}
.content-3 .content .service-list .service-item {
  text-decoration: none;
  color: #bffff6;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  justify-content: space-between;
  padding: 2rem 0;
  transition: box-shadow 0.1s;
}
.content-3 .content .service-list .service-item .service-img {
  max-height: 70px;
  max-width: 70px;
}
.content-3 .content .service-list .service-item p.text {
  margin: 0;
  text-align: center;
}
.content-3 .content .service-list .service-item:hover {
  box-shadow: 0 0 3px #bffff6;
}

.content-4 {
  padding-top: 15rem;
  background-image: url(./assets/line-2.svg);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: top;
}
.content-4 h3 {
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 3.5rem;
  font-family: "LemonMilk";
}
.content-4 h4.paragraph-header {
  font-size: 1.17rem;
  letter-spacing: 3px;
  margin-top: 4.687rem;
  margin-bottom: 1.8rem;
  font-family: "LemonMilk";
}
.content-4 .spacing {
  display: flex;
  flex-direction: column;
  row-gap: 2.812rem;
}
.content-4 p.text {
  font-size: 1.05rem;
  color: #fff;
  line-height: 2.25rem;
  margin: 0;
  max-width: 985px;
}
.content-4 h2 {
  font-size: 2.95rem;
  margin-top: 2.687rem;
  margin-bottom: 0;
  font-family: "Cocogoose";
  font-weight: 100;
}

.content-5 {
  padding-top: 30%;
  background-image: url(./assets/line-3.svg);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position-x: center;
  background-position-y: -15%;
}
.content-5 .content {
  display: flex;
}
.content-5 .content .form-wrap {
  max-width: 788px;
}
.content-5 .content .form-wrap .header-wrap h2 {
  font-size: 3rem;
  line-height: 4rem;
  margin: 0;
  font-family: "Cocogoose";
  font-weight: 100;
}
.content-5 .content .form-wrap .header-wrap p {
  color: #fff;
  line-height: 2rem;
  margin: 1.5rem 0 2.3rem;
  max-width: 640px;
  font-size: 1.05rem;
}
.content-5 .content .form-wrap form {
  display: flex;
  flex-direction: column;
  row-gap: 0.687rem;
  width: 83%;
}
.content-5 .content .form-wrap form .form-element {
  padding: 1em 4em;
  border-radius: 25px;
  border: 0;
  font-family: "CocogooseLight";
  background-color: #dcfffa;
}
.content-5 .content .form-wrap form textarea.form-element {
  min-height: 150px;
  resize: vertical;
}
.content-5 .content .form-wrap form .btn-wrap {
  margin-top: 2.5rem;
}
.content-5 .content .form-wrap form .btn-wrap .purple-btn {
  font-family: "CocogooseLight";
  border: 0;
}
.content-5 .content .img-wrap {
  width: calc(100% - 788px);
  display: flex;
  align-items: flex-end;
}
.content-5 .content .img-wrap .spaceship {
  max-width: 260px;
  margin-bottom: 5.25rem;
}

@media (max-width: 1024px) {
  .content {
    padding: 0 3rem;
  }
  .content-2 {
    background-size: 130%;
  }
  .content-4 {
    background-size: 130%;
  }
  .content-5 {
    background-size: 130%;
    background-position-y: -5%;
  }
  .xl-screen {
    display: none;
  }
  .responsive {
    display: block;
  }
  .responsive .content {
    flex-wrap: wrap;
  }
  .responsive .content h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: LemonMilk;
    letter-spacing: 2.6px;
    width: 100%;
  }
  .responsive .content h3.main {
    font-family: LemonMilk;
    font-size: 2rem;
  }
  .responsive .content h3::after {
    content: "";
    display: block;
    height: 7rem;
    width: 1px;
    background: #646464;
    margin: 1rem 0;
  }
  .responsive .content .service-list-responsive {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .responsive .content .service-list-responsive .service-item-responsive {
    min-width: 200px;
    text-decoration: none;
    color: #bffff6;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    justify-content: space-between;
    padding: 2rem 0;
    transition: box-shadow 0.1s;
  }
  .responsive .content .service-list-responsive .service-item-responsive .service-img {
    max-height: 70px;
  }
}
@media (max-width: 768px) {
  .content .logo-wrap img.circle {
    top: -27rem;
  }
  .content .text-wrap {
    align-items: center;
  }
  .content .text-wrap .innovate-text {
    display: none;
  }
  .content .text-wrap h1.big {
    display: block;
  }
  .content .text-wrap .lower-text-wrap p.contact-text {
    font-size: 1rem;
  }
  .content-2 {
    background-size: 170%;
  }
  .content-2 .content p.description {
    font-size: 1rem;
  }
  .content-4 {
    padding-top: 7rem;
    background-size: 170%;
  }
  .content-5 {
    background-size: 170%;
    background-position-y: -10%;
  }
  .content-5 .content .img-wrap {
    display: none;
  }
  .content-4 .content p.text {
    font-size: 1rem;
  }
}
@media (max-width: 549px) {
  .content {
    padding: 0 1.5rem;
  }
  .content .logo-wrap img.circle {
    top: -17rem;
  }
  .content .logo-wrap #text-logo {
    max-width: 260px;
  }
  .content .text-wrap h1.big {
    font-size: 3rem;
  }
  .content-2 .content h2 {
    font-size: 2rem;
    line-height: 2.812rem;
  }
  .content-4 h2 {
    font-size: 2rem;
  }
  .content-5 {
    background-position-y: -5%;
  }
  .content-5 .content .form-wrap .header-wrap h2 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .content-5 .content .form-wrap form {
    width: 100%;
  }
  .content-5 .content .form-wrap form .btn-wrap {
    text-align: center;
  }
  .responsive .content .service-list-responsive .service-item-responsive {
    gap: 0;
    padding: 1.5rem 0;
  }
  .responsive .content .service-list-responsive .service-item-responsive .service-img {
    max-height: 50px;
    max-width: 70px;
  }
  .responsive .content .service-list-responsive .service-item-responsive p.text {
    font-size: 0.875rem;
  }
  .responsive .content h3::after {
    height: 5rem;
  }
}
@media (max-width: 399px) {
  .content .logo-wrap img.circle {
    top: -10rem;
  }
}/*# sourceMappingURL=style.css.map */