*,
*::before,
*::after {
   box-sizing: border-box;
}

@font-face {
   font-family: LemonMilkLight;
   src: url("./fonts/LEMONMILK-Light.otf") format("opentype");
}

@font-face {
   font-family: LemonMilk;
   src: url("./fonts/LEMONMILK-Regular.otf") format("opentype");
}

@font-face {
   font-family: LemonMilkMedium;
   src: url("./fonts/LEMONMILK-Medium.otf") format("opentype");
}

@font-face {
   font-family: Cocogoose;
   src: url("./fonts/Cocogoose-Pro-Regular-trial.ttf") format("truetype");
}

@font-face {
   font-family: CocogooseLight;
   src: url("./fonts/Cocogoose-Pro-Ultralight-trial.ttf") format("truetype");
}

$background-lines-width-xl: 115%;
$background-lines-width-m: 130%;
$background-lines-width-s: 170%;
$straight-line-color-1: #646464;
$straight-line-color-2: #797979;
$text-s: 1.05rem;
$text-m: 1.425rem;
$header-s: 1.17rem;
$header-m: 2rem;
$header-l: 3rem;

.purple-btn {
   color: #fff;
   text-decoration: none;
   font-size: 0.925rem;
   background-color: #6254ff;
   padding: 0.777em 3.388em;
   border-radius: 25px;
   display: inline-block;
}

body {
   background-color: #213b41;
   color: #bffff6;
   font-family: CocogooseLight;
   margin: 0;
   padding: 0;
}

header {
   background-image: url(./assets/new-circle.png);
   background-size: 1480px;
   background-position-y: -26rem;
   background-position-x: center;
   background-repeat: no-repeat;
   background-color: rgba(33, 59, 65, 0.5);
   background-blend-mode: darken;

   .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
   }
}

.content {
   max-width: 1280px;
   margin-inline: auto;
   padding: 0 0 0 7.5rem;

   .logo-wrap {
      position: relative;
      display: flex;
      justify-content: center;
      overflow: hidden;
      min-height: 365px;

      img.circle {
         display: none;
         position: absolute;
         top: -23.5rem;
         z-index: -1;
         max-width: 1300px;
      }

      #text-logo {
         max-width: 230px;
         position: absolute;
         top: 2%;
      }
   }

   .text-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: -4rem;

      .innovate-text {
         max-width: 900px;
      }

      h1.big {
         display: none;
         font-family: Cocogoose;
         font-weight: 100;
         font-size: 3.5rem;
         margin: 2rem 0 0;
         text-align: center;
         color: #fff;
      }

      .lower-text-wrap {
         width: 100%;
         text-align: center;

         p.contact-text {
            margin: 34px 0;
            text-align: center;
            color: #fff;
            font-size: $text-m;
         }
      }
   }
}

.content-2 {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
   padding: 25rem 0 8.5rem;
   position: relative;
   background-image: url(./assets/line-1.svg);
   background-repeat: no-repeat;
   background-size: $background-lines-width-xl;
   background-position: bottom;

   .content {
      display: flex;
      flex-direction: column;
      row-gap: 1.875rem;
      width: 100%;

      p.description {
         color: #fff;
         font-size: $text-s;
         margin: 0;
         line-height: 2.25rem;
         max-width: 640px;
      }

      h2 {
         margin: 0;
         line-height: 3.812rem;
         font-size: $header-l;
         font-family: Cocogoose;
         font-weight: 100;
      }
   }

   img.lines-1 {
      position: absolute;
      bottom: 0;
      z-index: -1;
   }
}

.responsive {
   display: none;
}

.content-3 {
   margin-top: 4.687rem;
   margin-bottom: 4rem;

   .content {
      display: flex;

      .service-text {
         width: 20%;

         h3 {
            margin: 0;
            font-family: LemonMilk;
            letter-spacing: 2.6px;
         }

         h3.main {
            font-family: LemonMilk;
            font-size: $header-m;
         }

         h3.main::after,
         h3.lower:nth-of-type(3)::before,
         h3.lower:nth-of-type(3)::after {
            content: "";
            display: block;
            height: 120px;
            width: 1px;
            background-color: $straight-line-color-1;
            position: relative;
            left: 15px;
            margin: 1.5rem 0;
         }
      }

      .service-list::before {
         content: "";
         height: 1px;
         background-color: $straight-line-color-2;
         position: absolute;
         top: 1.387rem;
         width: 95%;
      }

      .service-list {
         position: relative;
         width: 80%;
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
         row-gap: 1.5rem;
         column-gap: 5rem;
         padding-top: 9.25rem;

         .service-item {
            text-decoration: none;
            color: #bffff6;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            justify-content: space-between;
            padding: 2rem 0;
            transition: box-shadow 0.1s;

            .service-img {
               max-height: 70px;
               max-width: 70px;
            }

            p.text {
               margin: 0;
               text-align: center;
            }
         }

         .service-item:hover {
            box-shadow: 0 0 3px #bffff6;
         }
      }
   }
}

.content-4 {
   padding-top: 15rem;
   background-image: url(./assets/line-2.svg);
   background-repeat: no-repeat;
   background-size: $background-lines-width-xl;
   background-position: top;

   h3 {
      font-size: $header-m;
      letter-spacing: 3px;
      margin-bottom: 3.5rem;
      font-family: "LemonMilk";
   }

   h4.paragraph-header {
      font-size: $header-s;
      letter-spacing: 3px;
      margin-top: 4.687rem;
      margin-bottom: 1.8rem;
      font-family: "LemonMilk";
   }

   .spacing {
      display: flex;
      flex-direction: column;
      row-gap: 2.812rem;
   }

   p.text {
      font-size: $text-s;
      color: #fff;
      line-height: 2.25rem;
      margin: 0;
      max-width: 985px;
   }

   h2 {
      font-size: 2.95rem;
      margin-top: 2.687rem;
      margin-bottom: 0;
      font-family: "Cocogoose";
      font-weight: 100;
   }
}

.content-5 {
   padding-top: 30%;
   background-image: url(./assets/line-3.svg);
   background-repeat: no-repeat;
   background-size: $background-lines-width-xl;
   background-position-x: center;
   background-position-y: -15%;

   .content {
      display: flex;

      .form-wrap {
         max-width: 788px;

         .header-wrap {
            h2 {
               font-size: $header-l;
               line-height: 4rem;
               margin: 0;
               font-family: "Cocogoose";
               font-weight: 100;
            }

            p {
               color: #fff;
               line-height: 2rem;
               margin: 1.5rem 0 2.3rem;
               max-width: 640px;
               font-size: $text-s;
            }
         }

         form {
            display: flex;
            flex-direction: column;
            row-gap: 0.687rem;
            width: 83%;

            #name-error,
            #email-error,
            #phone-error,
            #web-error,
            #country-error,
            #project-error {
               color: #ff6262;
               font-size: 12px;
               margin: 0 0 0 1rem;
            }

            .form-element {
               padding: 1em 4em;
               border-radius: 25px;
               border: 0;
               font-family: "LemonMilkLight";
               background-color: #dcfffa;
            }

            textarea.form-element {
               min-height: 150px;
               resize: vertical;
            }

            .btn-wrap {
               margin-top: 2.5rem;

               .purple-btn {
                  font-family: "CocogooseLight";
                  border: 0;
               }
            }
         }
      }

      .img-wrap {
         width: calc(100% - 788px);
         display: flex;
         align-items: flex-end;

         .spaceship {
            max-width: 260px;
            margin-bottom: 5.25rem;
         }
      }
   }
}

footer {
   font-family: LemonMilkLight;
   letter-spacing: 0.15rem;
   background-image: url(./assets/new-circle.png);
   background-repeat: no-repeat;
   background-size: 100%;
   background-position-x: center;
   background-position-y: 45rem;
   padding: 37.5rem 0 10rem;
   background-color: rgb(33 59 65 / 50%);
   background-blend-mode: darken;
   background-position-y: 46rem;

   .content-footer {
      max-width: 1280px;
      margin-inline: auto;
      padding: 0 0 0 7.5rem;

      .logo-wrap {
         img.circle {
            position: absolute;
         }

         img#text-logo {
            max-width: 200px;
         }
      }

      address {
         display: flex;
         flex-direction: column;
         row-gap: 5px;
         margin: 3.5rem 0;

         a {
            color: #fff;
            text-decoration: none;
            font-style: normal;
         }
      }

      p#datetime {
         color: #fff;
      }
   }
}

@media (max-width: 1024px) {
   .content {
      padding: 0 3rem;
   }

   .content-2 {
      background-size: $background-lines-width-m;
   }

   .content-4 {
      background-size: $background-lines-width-m;
   }

   .content-5 {
      background-size: $background-lines-width-m;
      background-position-y: -5%;
   }

   .xl-screen {
      display: none;
   }

   .responsive {
      display: block;

      .content {
         flex-wrap: wrap;

         h3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            font-family: LemonMilk;
            letter-spacing: 2.6px;
            width: 100%;
         }

         h3.main {
            font-family: LemonMilk;
            font-size: $header-m;
         }

         h3::after {
            content: "";
            display: block;
            height: 7rem;
            width: 1px;
            background: $straight-line-color-1;
            margin: 1rem 0;
         }

         .service-list-responsive {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 1.5rem;

            .service-item-responsive {
               min-width: 200px;
               text-decoration: none;
               color: #bffff6;
               display: flex;
               flex-direction: column;
               align-items: center;
               row-gap: 20px;
               justify-content: space-between;
               padding: 2rem 0;
               transition: box-shadow 0.1s;

               .service-img {
                  max-height: 70px;
               }
            }
         }
      }
   }

   footer {
      background-position-y: 55rem;

      .content-footer {
         padding: 0 3rem;
      }
   }
}

@media (max-width: 768px) {
   header {
      background-size: 120%;
      background-position-y: -11rem;
   }

   .content {
      .logo-wrap img.circle {
         top: -24rem;
      }

      .text-wrap {
         align-items: center;
         margin-top: 0;

         .innovate-text {
            display: none;
         }

         h1.big {
            display: block;
         }

         .lower-text-wrap p.contact-text {
            font-size: 1rem;
         }
      }
   }

   .content-2 {
      background-size: $background-lines-width-s;

      .content p.description {
         font-size: 1rem;
      }
   }

   .content-4 {
      padding-top: 7rem;
      background-size: $background-lines-width-s;
   }

   .content-5 {
      background-size: 170%;
      background-position-y: -10%;

      .content .img-wrap {
         display: none;
      }
   }

   .content-4 .content p.text {
      font-size: 1rem;
   }
}

@media (max-width: 549px) {
   .content {
      padding: 0 1.5rem;

      .logo-wrap {
         min-height: 245px;

         img.circle {
            top: -17rem;
            max-width: 900px;
            opacity: 0.76;
         }

         #text-logo {
            max-width: 160px;
         }
      }

      .text-wrap h1.big {
         font-size: 3rem;
      }
   }

   .content-2 .content h2 {
      font-size: 2rem;
      line-height: 2.812rem;
   }

   .content-4 h2 {
      font-size: 2rem;
   }

   .content-5 {
      background-position-y: -5%;

      .content .form-wrap {
         .header-wrap h2 {
            font-size: 2rem;
            line-height: 2.2rem;
         }

         form {
            width: 100%;

            .btn-wrap {
               text-align: center;
            }
         }
      }
   }

   .responsive .content .service-list-responsive .service-item-responsive {
      gap: 0;
      padding: 1.5rem 0;

      .service-img {
         max-height: 50px;
         max-width: 70px;
      }

      p.text {
         font-size: 0.875rem;
      }
   }

   .responsive .content h3::after {
      height: 5rem;
   }

   footer {
      background-position-y: 58rem;
      background-size: 150%;

      .content-footer {
         padding: 0 1.5rem;
      }
   }
}

@media (max-width: 399px) {
   header {
      background-position-y: -7rem;

      .text-wrap {
         padding: 0 1.5rem;
      }
   }
}
